<div>
  <app-spinner [isWaiting]="isWaiting"></app-spinner>
  <app-password-viewer label="Old Password" inputClass="form-control" [(ngModel)]="oldPassword"></app-password-viewer>
  <app-password-viewer label="Password" inputClass="form-control" [(ngModel)]="password"></app-password-viewer>
  <app-password-viewer
    label="Confirm Password"
    inputClass="form-control"
    [(ngModel)]="confirmPassword"
  ></app-password-viewer>
  <button type="button" class="btn btn-default" (click)="changePassword()">Change Password</button>
</div>
