<nav class="navbar navbar-expand-lg navbar-inverse">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="navigateToDashboard()">Dashboard</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="mr-xs" (click)="navigateToMyListPage()">
          <i
            class="fa fa-shopping-cart fa-2x"
            matBadgePosition="before"
            matBadgeOverlap="false"
            [matBadge]="listCount"
            aria-hidden="true"
          ></i>
        </a>
      </li>
      <li class="nav-item">
        <app-avatar
          size="small"
          [canChange]="false"
          [imageSrc]="imageSrc"
          [name]="name"
          [matMenuTriggerFor]="menu"
        ></app-avatar>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <a (click)="navigateToProfilePage()">View Profile</a>
          </button>
          <button mat-menu-item>
            <a (click)="navigateToAccountPage()">Account</a>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <a (click)="signOut()">Sign out</a>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>
