<nav class="navbar navbar-expand-lg navbar-inverse">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="navigateToDashboard()">Dashboard</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="mr-xs" (click)="navigateToMyListPage()">
          <i
            class="fa fa-shopping-cart fa-2x"
            matBadgePosition="before"
            matBadgeOverlap="false"
            [matBadge]="listCount"
            aria-hidden="true"
          ></i>
        </a>
      </li>
      <li class="nav-item">
        <div [matMenuTriggerFor]="menu">
          <ng-container *ngTemplateOutlet="avatar"></ng-container>
        </div>
        <mat-menu #menu="matMenu">
          <div class="d-flex align-items-center">
            <div *ngTemplateOutlet="avatar"></div>
            <div class="d-flex flex-direction-column align-items-center">
              <span>{{ name }}</span>
              <button mat-menu-item>
                <a (click)="navigateToProfilePage()">View Profile</a>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <a (click)="navigateToAccountPage()">Account</a>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <a (click)="signOut()">Sign out</a>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>

<ng-template #avatar>
  <app-avatar size="small" [canChange]="false" [imageSrc]="imageSrc" [name]="name"></app-avatar>
</ng-template>
