.palette-multi-1 {
  background-color: #08c0ff;
}

.palette-multi-2 {
  background-color: #fbb94c;
}

.palette-multi-3 {
  background-color: #7dc453;
}

.palette-multi-4 {
  background-color: #ae9abc;
}

.palette-multi-5 {
  background-color: #00d1aa;
}

.palette-multi-6 {
  background-color: #f1575a;
}

.palette-multi-7 {
  background-color: #91959c;
}

.palette-multi-8 {
  background-color: #73dcff;
}

.palette-multi-9 {
  background-color: #fdd189;
}

.palette-multi-10 {
  background-color: #b6de9e;
}

.palette-multi-11 {
  background-color: #cfc3d7;
}

.palette-multi-12 {
  background-color: #55ffdf;
}

.palette-multi-13 {
  background-color: #f69093;
}

.palette-multi-14 {
  background-color: #b0b2b7;
}

.palette-mono-1 {
  background-color: #0087b5;
}

.palette-mono-2 {
  background-color: #00b4f1;
}

.palette-mono-3 {
  background-color: #35ccff;
}

.palette-mono-4 {
  background-color: #79ddff;
}

.palette-mono-5 {
  background-color: #bceeff;
}
