.flex {
  flex: 1 1 auto !important;
}
.f-wrap {
  flex-wrap: wrap !important;
}

.f-justify-center {
  justify-content: center !important;
}

.f-justify-end {
  justify-content: end !important;
}

.flex-basis-half {
  flex-basis: 50% !important;
}

.flex-basis-30 {
  flex-basis: 30% !important;
}

@each $a in 1, 2, 3, 4, 5, 6, 7, 8, 9 {
  .flex-grow-#{$a} {
    flex-grow: $a !important;
  }
}

@each $dir in row, column {
  .flex-direction-#{$dir} {
    flex-direction: $dir !important;
  }
}
