/*
 m -> margin
 p -> padding
 t -> top
 b -> bottom
 r-> right
 l -> left
 x -> left and right
 y -> top and bottom
*/

$xs: 5px;
$sm: 10px;
$md: 15px;
$lg: 20px;
$xl: 30px;

.mt-xs,
.my-xs {
  margin-top: $xs !important;
}

.mt-sm,
.my-sm {
  margin-top: $sm !important;
}

.mt-md,
.my-md {
  margin-top: $md !important;
}

.mt-lg,
.my-lg {
  margin-top: $lg !important;
}

.mt-xl,
.my-xl {
  margin-top: $xl !important;
}

.mb-xs,
.my-xs {
  margin-bottom: $xs !important;
}

.mb-sm,
.my-sm {
  margin-bottom: $sm !important;
}

.mb-md,
.my-md {
  margin-bottom: $md !important;
}

.mb-lg,
.my-lg {
  margin-bottom: $lg !important;
}

.mb-xl,
.my-xl {
  margin-bottom: $xl !important;
}

.mr-xs,
.mx-xs {
  margin-right: $xs !important;
}

.mr-sm,
.mx-sm {
  margin-right: $sm !important;
}

.mr-md,
.mx-md {
  margin-right: $md !important;
}

.mr-lg,
.mx-lg {
  margin-right: $lg !important;
}

.mr-xl,
.mx-xl {
  margin-right: $xl !important;
}

.ml-xs,
.mx-xs {
  margin-left: $xs !important;
}

.ml-sm,
.mx-sm {
  margin-left: $sm !important;
}

.ml-md,
.mx-md {
  margin-left: $md !important;
}

.ml-lg,
.mx-lg {
  margin-left: $lg !important;
}

.ml-xl,
.mx-xl {
  margin-left: $xl !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.top-0 {
  top: 0 !important;
}

.left-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.z-index-10 {
  z-index: 10 !important;
}
