.center {
  margin-top: -25px;
  margin-left: -25px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay {
  margin: auto;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.overlay-fixed {
  position: fixed;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #b7da9b;
  fill: #b7da9b;
  stroke-width: unset !important;
}

.wait-double-bounce1,
.wait-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.wait-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
