.overlay {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  height: 100%;
  width: 100%;
}

.overlay-fixed {
  position: fixed;
}

.overlay-non-blocking {
  bottom: 0;
}

.overlay-non-blocking > .loader-container {
  top: auto;
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: auto;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-right: -25px;
  height: 50px;
  width: 50px;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: #72bf44;
  border-radius: 50%;
  opacity: 0.6;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
