<div>
  <app-spinner [isWaiting]="!isWaiting" [nonBlocking]="true"></app-spinner>
  <h4 class="error-label" [ngClass]="{ 'error-icon': errorMessage }">{{ errorMessage }}</h4>
  <div class="form-group">
    <label for="email" class="required">{{ 'email' | appLocale }}</label>
    <input type="email" class="form-control" name="email" autocomplete="off" id="email" [(ngModel)]="email" />
  </div>
  <div class="form-group">
    <label for="password" class="required">{{ 'password' | appLocale }}</label>
    <input
      type="password"
      class="form-control"
      name="password"
      autocomplete="new-password"
      id="password"
      [(ngModel)]="password"
    />
  </div>
  <button type="button" mat-raised-button color="primary" (click)="updateEmail()">{{ 'update' | appLocale }}</button>
</div>
