<button class="btn btn-link pull-right" mat-button mat-dialog-close>X</button>
<h2 mat-dialog-title>{{ 'addABook' | appLocale }}</h2>
<mat-dialog-content>
  <div>
    <app-spinner [isWaiting]="isWaiting"></app-spinner>
    <form>
      <div class="form-group">
        <label for="name" class="required">{{ 'name' | appLocale }}</label>
        <input type="text" name="name" class="form-control" id="name" [(ngModel)]="name" />
        <app-field-error [validations]="validations" fieldName="name"></app-field-error>
      </div>
      <div class="form-group">
        <label for="author" class="required">{{ 'Autor Name' | appLocale }}</label>
        <input type="text" name="name" class="form-control" id="author" [(ngModel)]="author" />
        <app-field-error [validations]="validations" fieldName="author"></app-field-error>
      </div>
      <div class="form-group">
        <label for="description" class="required">{{ 'description' | appLocale }}</label>
        <textarea
          name="description"
          class="form-control resize-none"
          id="description"
          maxlength="1000"
          rows="5"
          wrap="soft"
          [(ngModel)]="description"
        ></textarea>
        <app-field-error [validations]="validations" fieldName="description"></app-field-error>
      </div>
      <div class="form-group w-25">
        <label for="price" class="required">{{ 'price' | appLocale }}</label>
        <input type="number" name="price" class="form-control" id="price" [(ngModel)]="price" />
        <app-field-error [validations]="validations" fieldName="price"></app-field-error>
      </div>
      <div class="form-group w-25">
        <label for="date" class="required">{{ 'publicationDate' | appLocale }}</label>
        <input
          name="date"
          id="date"
          class="form-control"
          autocomplete="off"
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="date"
          (click)="picker.open()"
        />
        <mat-datepicker-toggle class="calender-position" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <app-field-error [validations]="validations" fieldName="date"></app-field-error>
      </div>
      <div class="form-group">
        <label class="required" for="poster">{{ 'poster' | appLocale }}</label>
        <input type="file" name="poster" id="poster" #poster />
        <app-field-error [validations]="validations" fieldName="poster"></app-field-error>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" class="mr-xs" (click)="addBook(false)">
    {{ 'addAnother' | appLocale }}
  </button>
  <button type="button" mat-raised-button color="primary" (click)="addBook(true)">
    {{ 'saveAndClose' | appLocale }}
  </button>
  <button class="btn btn-link" mat-button mat-dialog-close>{{ 'cancel' | appLocale }}</button>
</mat-dialog-actions>
