<button type="button" class="btn btn-default mr-xs" (click)="openBookModal()" *ngIf="hasPermission">
  <i class="fa fa-plus-circle"></i> Add Book
</button>
<button
  type="button"
  class="btn btn-default mr-xs"
  [disabled]="isDeleteDisabled"
  (click)="deleteBook()"
  *ngIf="hasPermission"
>
  <i class="fa fa-trash"></i> Delete
</button>
<a class="mr-xs" routerLink="myList">My List</a>
<button type="button" class="btn btn-default mr-xs"><i class="fa fa-filter" aria-hidden="true"></i> Filter</button>
<button type="button" class="btn btn-link" title="refresh" (click)="refreshBookList()">
  <i class="fa fa-refresh" aria-hidden="true"></i>
</button>
<div>
  <app-spinner [isWaiting]="isWaiting"></app-spinner>
  <div class="mt-sm display-flex">
    <ng-container *ngFor="let book of books">
      <div class="mt-sm mr-sm pointer">
        <input type="checkbox" (change)="selectBook($event, book.id)" />
        <div (click)="openBook(book.id)">
          <img src="data:image/jpg;base64,{{ book.poster }}" height="200" width="200" />
        </div>
      </div>
    </ng-container>
  </div>
</div>
