<button class="btn btn-link pull-right" mat-button mat-dialog-close>X</button>
<h2 mat-dialog-title>Update Email Address</h2>
<mat-dialog-content>
  <app-spinner [isWaiting]="isWaiting"></app-spinner>
  <form>
    <div class="form-group">
      <label for="email" class="required">Email</label>
      <input type="email" class="form-control" name="email" autocomplete="off" id="email" [(ngModel)]="email" />
    </div>
    <div class="form-group">
      <label for="password" class="required">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        autocomplete="off"
        id="password"
        [(ngModel)]="password"
      />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" class="btn btn-primary" (click)="updateEmail()">Update</button>
  <button class="btn btn-link" mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
