<div *ngIf="isItemInCart">
  <div class="pull-right">
    <button type="button" class="btn btn-link" (click)="removeAll()">Remove all</button>
  </div>
  <div>
    <app-spinner [isWaiting]="isWaiting"></app-spinner>
    <div class="mt-sm d-flex f-wrap">
      <ng-container *ngFor="let item of cartItems">
        <mat-card style="max-width: 400px; margin-bottom: 8px">
          <div [routerLink]="['/book', item.productId]">
            <div class="row">
              <div class="col-md-6">
                <img mat-card-lg-image src="data:image/jpg;base64,{{ item.image }}" />
              </div>
              <div class="col-md-6">
                <mat-card-header>
                  <mat-card-title>{{ item.title }}</mat-card-title>
                </mat-card-header>
              </div>
            </div>
            <mat-card-content>
              <p>Price: {{ item.price | currency: 'INR':'symbol-narrow' }}</p>
            </mat-card-content>
          </div>
          <mat-card-actions>
            Quantity:
            <button (click)="downQty(item)">
              <i class="fa fa-minus"></i>
            </button>
            {{ item.quantity }}
            <button (click)="upQty(item)">
              <i class="fa fa-plus"></i>
            </button>
            <button mat-button (click)="remove(item.productId)">{{ 'remove' | appLocale }}</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
    <hr />
    <div class="pull-right">
      <p>Total Price: {{ totalPrice | currency: 'INR':'symbol-narrow' }}</p>
      <button type="button" class="btn btn-link" [routerLink]="['/checkout']">Proceed to checkout</button>
    </div>
  </div>
</div>
