<div>
  <app-spinner [isWaiting]="isWaiting"></app-spinner>
  <ng-container *ngIf="userProfile">
    <div class="d-flex">
      <div class="container-center flex-grow-1">
        <app-avatar
          alignType="center"
          [imageSrc]="imageSrc"
          [name]="name"
          [isRemoveEnable]="!!imageSrc"
          (avatarChanged)="avatarChanged($event)"
          (avatarRemoved)="removeAvatar()"
        ></app-avatar>
      </div>
      <div class="flex-grow-5">
        <form class="mb-sm">
          <div class="form-group">
            <label for="username">{{ 'username' | appLocale }}</label>
            <input
              type="text"
              name="username"
              class="form-control"
              id="username"
              readonly
              [value]="userProfile.username"
            />
          </div>
          <div class="form-group">
            <label for="name" class="required">{{ 'name' | appLocale }}</label>
            <input type="text" name="name" class="form-control" id="name" [(ngModel)]="userProfile.name" />
            <app-field-error fieldName="name" [validations]="validations"></app-field-error>
          </div>
          <div class="form-group">
            <label for="mobile">{{ 'mobile' | appLocale }}</label>
            <input type="tel" name="mobile" class="form-control" id="mobile" [(ngModel)]="userProfile.mobile" />
            <app-field-error fieldName="mobile" [validations]="validations"></app-field-error>
          </div>
          <button type="submit" mat-raised-button color="primary" (click)="update()">
            {{ 'updateProfile' | appLocale }}
          </button>
        </form>
      </div>
    </div>
  </ng-container>
</div>
