<div class="d-flex">
  <div class="flex-grow-1">
    <mat-nav-list>
      <div class="section-heading" (click)="changeSection(accountSectionName.security)">Security</div>
      <ng-container *ngIf="sectionName === accountSectionName.security">
        <a mat-list-item [ngClass]="{ active: activeIndex === 0 }" (click)="changeIndex(0)">Change Password</a>
        <a mat-list-item [ngClass]="{ active: activeIndex === 1 }" (click)="changeIndex(1)">Email</a>
        <a mat-list-item [ngClass]="{ active: activeIndex === 2 }" (click)="changeIndex(2)">Delete Account</a>
      </ng-container>
      <mat-divider></mat-divider>
      <div class="section-heading" (click)="changeSection(accountSectionName.preferences)">Preferences</div>
      <ng-container *ngIf="sectionName === accountSectionName.preferences">
        <a mat-list-item [ngClass]="{ active: activeIndex === 0 }" (click)="changeIndex(0)">Dark Theme</a>
        <a mat-list-item [ngClass]="{ active: activeIndex === 1 }" (click)="changeIndex(1)">Languages</a>
      </ng-container>
    </mat-nav-list>
  </div>
  <div class="flex-grow-5">
    <mat-divider></mat-divider>
    <mat-toolbar>
      <span class="flex"></span>
      <button class="btn btn-link" title="Expand all" (click)="expandAllSections()">
        <i class="fa fa-angle-double-up fa-2x"></i>
      </button>
      <button class="btn btn-link" title="Collpase all" (click)="collpaseAllSections()">
        <i class="fa fa-angle-double-down fa-2x"></i>
      </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-accordion multi>
      <router-outlet></router-outlet>
    </mat-accordion>
  </div>
</div>
