@import '../src/assets/scss/spacing';
@import '../src/assets/scss/flex';
@import '../src/assets/scss/text';
@import '../src/assets/scss/color';
@import '../src/assets/scss/variable';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #eeeeef;
  color: #212327;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.required::after {
  content: ' *';
  color: $red;
}

.resize-none {
  resize: none;
}

.pointer {
  cursor: pointer;
}

.ng-invalid.error {
  background-color: #ffd2d2;
}

.error-label {
  color: $red;
}

img,
a {
  cursor: pointer;
}

/* hide recaptcha badge*/
.grecaptcha-badge {
  visibility: hidden;
}

body.recaptcha .grecaptcha-badge {
  visibility: visible;
}

.shodow {
  box-shadow: 0px 0px 5px 0 rgb(0 0 0 / 30%);
}

.d-none {
  display: none !important;
}

.calender-position {
  position: relative;
  float: right;
  bottom: 36px;
}
