<div>
  <app-spinner [isWaiting]="isWaiting"></app-spinner>
  <h4 class="error-label" [ngClass]="{ 'error-icon': errorMessage }">{{ errorMessage }}</h4>
  <div class="form-group">
    <label for="oldPassword">{{ 'oldPassword' | appLocale }}</label>
    <input id="oldPassword" type="password" class="form-control" [(ngModel)]="oldPassword" />
  </div>
  <div class="form-group">
    <label for="newPassword">{{ 'newPassword' | appLocale }}</label>
    <input id="newPassword" type="password" class="form-control" [(ngModel)]="password" />
  </div>
  <div class="form-group">
    <label for="confirmPassword">{{ 'confirmPassword' | appLocale }}</label>
    <input id="confirmPassword" type="password" class="form-control" [(ngModel)]="confirmPassword" />
  </div>
  <div>
    <button type="button" mat-raised-button color="primary" (click)="changePassword()">
      {{ 'changePassword' | appLocale }}
    </button>
  </div>
</div>
