<div class="container-center">
  <form autocomplete="off" [formGroup]="formGroup">
    <app-spinner [isWaiting]="isWaiting"></app-spinner>
    <div class="form-group">
      <label for="name" class="required">Name</label>
      <input type="text" name="name" class="form-control error" id="name" formControlName="name" />
      <app-field-error fieldName="name" [validations]="validations"></app-field-error>
    </div>
    <div class="form-group">
      <label for="username" class="required">Username</label>
      <input type="text" name="username" class="form-control error" id="username" formControlName="username" />
      <app-field-error fieldName="username" [validations]="validations"></app-field-error>
    </div>
    <div class="form-group">
      <label for="email" class="required">Email</label>
      <input type="email" name="email" class="form-control error" id="email" formControlName="email" />
      <app-field-error fieldName="email" [validations]="validations"></app-field-error>
    </div>
    <app-password-viewer
      label="Password"
      inputClass="form-control error"
      [isRequired]="true"
      formControlName="password"
    >
      <app-field-error fieldName="password" [validations]="validations"></app-field-error>
    </app-password-viewer>
    <div class="d-flex">
      <button type="submit" mat-raised-button color="primary" class="flex-grow-3" (click)="addUser()">Sign Up</button>
      <button type="button" class="btn btn-link" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
