<button class="btn btn-link pull-right" mat-button mat-dialog-close>X</button>
<h2 mat-dialog-title>Delete Account</h2>
<mat-dialog-content>
  <app-spinner [isWaiting]="isWaiting"></app-spinner>
  <form>
    <div class="form-group">
      <label for="password" class="required">Password</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" />
      <div>
        {{ errorMessage }}
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" class="btn btn-primary" (click)="deleteUserAccount()">Delete</button>
  <button class="btn btn-link" mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
