<div class="container-center-height">
  <div>
    <app-spinner [isWaiting]="isWaiting"></app-spinner>
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="name" class="required">{{ 'name' | appLocale }}</label>
        <input type="text" name="name" class="form-control error" id="name" formControlName="name" />
        <app-field-error fieldName="name" [validations]="validations"></app-field-error>
      </div>
      <div class="form-group">
        <label for="username" class="required">{{ 'username' | appLocale }}</label>
        <input type="text" name="username" class="form-control error" id="username" formControlName="username" />
        <app-field-error fieldName="username" [validations]="validations"></app-field-error>
      </div>
      <div class="form-group">
        <label for="email" class="required">{{ 'email' | appLocale }}</label>
        <input type="email" name="email" class="form-control error" id="email" formControlName="email" />
        <app-field-error fieldName="email" [validations]="validations"></app-field-error>
      </div>
      <app-password-viewer
        [label]="'password' | appLocale"
        inputClass="form-control error"
        [isRequired]="true"
        formControlName="password"
      >
        <app-field-error fieldName="password" [validations]="validations"></app-field-error>
      </app-password-viewer>
      <div class="d-flex">
        <button type="submit" mat-raised-button color="primary" class="flex-grow-3" (click)="addUser()">
          {{ 'signUp' | appLocale }}
        </button>
        <button type="button" class="btn btn-link" (click)="cancel()">{{ 'cancel' | appLocale }}</button>
      </div>
    </form>
  </div>
</div>
